<!--<div class="row">-->
<!--  <div class="col-xs-12">-->
<!--    <purchase-->
<!--      -->
<!--      *ngFor="let purchaseEl of purchases"-->
<!--    ></purchase>-->
<!--  </div>-->
<!--</div>-->
<p>works</p>

<div
  class="container"
  *ngFor="let purchaseEl of purchases"
>

  <div *ngIf="purchaseEl then infoCard else infoText"></div>
  <div>
    <ng-template #infoCard>
      <div class="row purchase-body">
        <div class="col-sm-4">
          <div >
            <img class="purchase-images" src="../../../../../assets/images/burger 1.png" height="424" width="390"/>
          </div>
        </div>

        <div class="col-sm-6">
          <h3 style="text-decoration: none" class="detail-style">{{purchaseEl.product.name}}</h3>
          <button
            id="view-id"
            class="btn btn-success"
            type="submit"
            tf
          >View detail</button>
          <p class="detail-style">{{purchaseEl.product.typeid}}</p>
        </div>

        <div class="col-sm-2">
          <p class="single-price">Price</p>
          <p>${{"30"}}</p>
        </div>
      </div>
    </ng-template>
  </div>
  <div>

    <ng-template #infoText>
      <p>The cart is empty</p>
    </ng-template>

  </div>
</div>
