

<div class='modal-container'>
  <div class='modal'>
    <header>
      <h1 class='productname'>
        {{ Product.description }}
      </h1>

      <div class='sellerinfo'>
        <h2>
          Seller: {{ Product.seller?.fname }} {{ Product.seller?.lname }}

        </h2>
        <h3>
          email: {{ Product.seller?.email }}
        </h3>
      </div>

    </header>

    <div class='info'>    
      <img class='foodimage' src='{{image}}' *ngIf = 'image' alt ="your image"/>

      <hr>

      <h2>
        Price: ${{ Product.price }}
      </h2>

      <p>
        {{ Product.name }}
      </p>

      <div *ngIf="isCustomer();then customer else seller"></div>
      <ng-template #customer>
        <button class="purchase button">Purchase</button>
      </ng-template>

      <ng-template #seller>
        <button class="purchase button">deactivate</button>
        <button class="purchase button">activate</button>
      </ng-template>
      
      
    </div>
  </div>
</div>




