


<div class='modal-containerbp'>
  <div class='modalbp'>
    <header>
      <button type='button' class='exitbutton' (click)='closeWindow()'>exit</button>
      <h1 class='productname'>
        {{ innerproduct.name }}
      </h1>

      <div class='sellerinfo'>
        <h2>
          Seller: {{ innerproduct.seller?.fname }} {{ innerproduct.seller?.lname }}

        </h2>
        <h3>
          email: {{ innerproduct.seller?.email }}
        </h3>
      </div>

    </header>

    <div class='info'>
      <img class='foodimage' src='{{image}}' *ngIf = 'image' alt ="your image"/>

      <hr>

      <h2>
        Price: ${{ innerproduct.price }}
      </h2>

      <p>
        {{ innerproduct.description }}
      </p>

      <div *ngIf="isCustomer(); then customer else seller"></div>
      <ng-template #customer>
        <button class="purchase button " (click)='generatePurchase()'>Purchase</button>
      </ng-template>

      <ng-template #seller>
        
        <button class="purchase button">deactivate</button>
        <button class="purchase button">activate</button>
      </ng-template>
    </div>
  </div>
</div>




