<div class='modal-containerbp'>
  <div class='modalbp'>
    <header>
      <button type='button' class='exitbutton' (click)='closeWindow()'>exit</button>
      <h1 class='productname'>
        {{ innerproduct.name }}
      </h1>

    </header>
    <img class='foodimage' src='{{ innerproduct | getImg }}' *ngIf = 'image' alt ="your image"/>
    <div class='info'>
     

      <hr>

      <h2>
        Price: ${{ innerproduct.price }}
      </h2>

      <p>
        {{ innerproduct.description }}
      </p>

      <div *ngIf="isCustomer(); then customer else seller"></div>
      <ng-template #customer>
        <button class="exitbutton" (click)='generatePurchase()'>Purchase</button>
      </ng-template>

      <ng-template #seller>
        
        <button class="exitbutton" (click)='deactivateProduct()'>deactivate</button>
        <button class="exitbutton" (click)='activateProduct()'>activate</button>
      </ng-template>
    </div>
  </div>
</div>