* {
    box-sizing: border-box;
}

.modal-container {
    background-color: rgba(109, 109, 109, 0.295);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}

.modal {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0,0,0, 0.2);
    width: 800px;
    max-width: 100%;
}

.modal .info {
    padding: 30px 50px;
}




h1, h2, p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{ 
    display: flex;
    justify-content: space-around;
    background-color: rgb(235, 235, 235);
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    
}

.productname{
    display: flex;
   /* justify-content: left;*/
}

.sellerinfo{
    display: block;
    float: left;
}

.foodimage{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100px;
}

