<div id="view-purchase">
  <div id="reciept-head">
    <h4 id="reciept">Reciept</h4>
    <button id=" close" type="submit">x</button>
  </div>
  <hr class="line">
  <div id="reciept-body">
    <p id="p-id">{{input.purchase_id}}</p>
    <h5 id="p-name">{{input.product.name}} </h5>
    <p id="p-price">${{input.product.price}}</p>
  </div>
  <div>
    <p>{{input.product.description}}</p>
  </div>
  <hr class="line">
  <div id="reciept-total">
    <h4 id="p-subtotal">Subtotal</h4>
    <p id="p-total">${{input.product.price}}</p>
  </div>
</div>
