
<nav  class="navbar navbar-default">
  <div class="flex container-fluid">
    <div class="navbar-header">
      <img class="img-fluid" src="../../../../assets/logo.png">
    </div>
    <div>
      <ul>
        <li><a href="#">Login</a></li>
        <li><a href="#">Register</a></li>
        <li><a href="#">Profile</a></li>
        <li><a href="#">
          <img id="img-card" src="../../../../assets/cartLogo.png" height="416" width="514"></a>
        </li>
        <li><a href="#">Logout</a></li>
      </ul>

    </div>
  </div>
</nav>
