
<nav  class="navbar navbar-default">
  <div class="flex container-fluid">
    <div class="navbar-header">
      <img class="img-fluid" src="../../../../assets/images/logo.png">
    </div>
    <div>
      <ul>



        <li><login></login></li>
        <li><register></register></li>
        <li><logout></logout></li>
        <li><a href="#">
          <img id="img-card" src="../../../../assets/images/cart.jpg" height="416" width="514"></a>
        </li>
        <li><my-profile></my-profile></li>


      </ul>

    </div>
  </div>
</nav>
